*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(67, 87, 105);
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
height: 170px;
width: 170px;
border-radius: 45%;
display: flex;
justify-content: center;
align-items: center;
border-color: red;
}
.choice:hover{
   /* opacity: 0.5;  */
   cursor: pointer;
   background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 45%;
    border-color: red;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 3rem;
}
#user-score,#comp-score{
    font-size: 4rem; ;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #ffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}